<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Banking WebApp</display-name>

    <!-- Register -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.bank.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Open Account -->
    <servlet>
        <servlet-name>OpenAccountServlet</servlet-name>
        <servlet-class>com.bank.servlet.OpenAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenAccountServlet</servlet-name>
        <url-pattern>/openAccount</url-pattern>
    </servlet-mapping>

    <!-- Deposit -->
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.bank.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

    <!-- Withdraw -->
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>com.bank.servlet.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>

    <!-- Transfer -->
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.bank.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>

</web-app>
